body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('./images/cookie1.jpg'); /* Ajusta la ruta según tu estructura de carpetas */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center;
    background-repeat: no-repeat;
}

#numberOfCookies {
    font-size: 64px;
    font-weight: bold;
    color: #4CAF50;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#cookiesPerSecond {
    font-size: 24px;
    color: #fff; /* Cambiado a texto blanco para mejor contraste con el fondo */
    background-color: #af4c4c; /* Color de fondo */
    padding: 10px; /* Añadido relleno para hacerlo más llamativo */
    border-radius: 8px; /* Bordes redondeados */
    margin-bottom: 10px;
    border-color: #8a2828;
  }
  
  /* Estilo adicional para hacerlo más llamativo */
  #cookiesPerSecond::before {
    content: '🍪 '; /* Emoji de galleta */
    font-size: 28px;
    margin-right: 5px;
  }
  

#buttonHolder {
    margin-bottom: 20px;
}

#theButton {
    font-size: 15px;
    padding: 15px 30px;
    background-color: #bc6e4c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    white-space: pre-line; /* Permite respetar los saltos de línea */
    text-align: center;
}

#theButton:hover {
    background-color: #a06045;
    transform: scale(1.05);
}

#shop {
    display: flex;
    justify-content: space-around;
}

.shop-item {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    transition: transform 0.2s;
}

.shop-item:hover {
    transform: scale(1.05);
}

.shop-item button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.shop-item button:hover {
    background-color: #45a049;
}

#resetButton {
    font-size: 20px;
    padding: 15px 30px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#resetButton:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}
